<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immmoc.dao.moneyMapper">
  <resultMap id="BaseResultMap" type="com.immmoc.model.money">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="remainsum" jdbcType="DECIMAL" property="remainsum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, remainsum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from money
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from money
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.immmoc.model.money">
    insert into money (id, userid, remainsum
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{remainsum,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.immmoc.model.money">
    insert into money
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="remainsum != null">
        remainsum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="remainsum != null">
        #{remainsum,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.immmoc.model.money">
    update money
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="remainsum != null">
        remainsum = #{remainsum,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.immmoc.model.money">
    update money
    set userid = #{userid,jdbcType=INTEGER},
      remainsum = #{remainsum,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>